<!DOCTYPE html>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title>Side-by-Side</title>
  <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/> -->
  <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"> -->
<link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/assets/css/docs.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
  <script src="static/sbs.js"></script>
  </head>
<body>

<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa fa-flask"></i>  The Comparison of Search Suggestion </a>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-2"></div><!-- /.col-lg-6 -->
		<div class="col-md-8">
			</br />
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" id=city class="btn btn-secondary">北京</button>
					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
						<!-- <a class="dropdown-item" href="#">北京</a>
						<div role="separator" class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">以下尚未開放</a>
						<a class="dropdown-item" href="#">上海</a>
						<a class="dropdown-item" href="#">廣州</a> -->
						{% for city in cities %}
						<a class="dropdown-item" href="#"> {{ city}} </a>
						{% endfor %}

					</div>
				</div>
				<span class="input-group-addon" id="qqq">&nbsp;&nbsp;&nbsp;</span>
				<input type="text" class="form-control" placeholder="查询" id="q">

				<span class="input-group-addon">
					<!--<input type="checkbox" aria-label="Checkbox for following text input">-->
				</span>
				<input type="text" class="form-control" placeholder="经纬度 (ex:Lat, Lng)"  id="latlng"> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="search"><i class="fa fa-search"></i></button>
				</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		<div class="col-md-2"><br />
		   <a href="https://docs.google.com/spreadsheets/d/1czMqs8-d6mxYCWsWKA9OHvAw3sX2BzEIl1hqjowUqjA/edit?usp=sheets_home" class="btn btn-default btn-secondary" target="_blank" role="button">
		    <i class="fa fa-commenting"></i> 反馈</a>
		</div>
	</div><!-- ROW -->
	<div class="row"><br /></div>
</div><!--  CONTAINER -->

<!--  -->
<div class="row">
	<div class="col-md-1"> </div>
	<div class="col-xs-12 col-md-10">
		<div id="small-icon"> </div><h5> Search Result </h5>
		<div>
			<table class="table">
				<thead class="thead-inverse">
					<tr> 
						<th>#</th>
						{% for domain in domains %}
						<th>{{ domain }} </th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for stat in row_stats %}
				<tr><th scope="row"> {{ stat }} </th>
					{% for domain in domains %}
					<td id={{domain}}-{{stat}}></td>
					{% endfor %}
				</tr>
				{% endfor %}
				</tbody>
				<thead class="thead-default">
					<tr>
						<th>Order </th>
						{% for i in domains %}
						<th></th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for search_result in row_search_result %}
				{% set outer_loop = loop %}
				<tr><th scope="row" > {{outer_loop.index}} </th>
					{% for domain in domains %}
					<td id="{{domain}}-{{outer_loop.index}}"></td>
					{% endfor %}
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!--
	  <div class="col-xs-12 col-md-2">
	    <h5> Statistics </h5>
	    <ul class="list-group">
	      <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
	      <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
	      <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
	      <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
	    </ul>
	    <div class="list-group">
	      <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
	      <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
	      <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
	      <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
	    </div>
	  </div> 
	-->
	<div class="col-xs-1 col-md-1"></div>
</div>
 <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
